* {
    padding: 0;
    margin: 0;
}

.main-section {
    background-image: url(/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #12667e;
    height: 800px;
    width: auto;
}