* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "PinkChicken";
    src: url(/fonts/PinkChicken-Regular.ttf);
}

.main-section {
    background-image: url(/images/background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 85%;
    background-color: #b7b7b7;
    height: auto;
}

.first h1 {
    color: #223462;
    font-family: "PinkChicken";
    text-align: center;
    font-size: 75px;
    animation: fadeIn 4s;
}

.first p {
    color: #223462;
    font-family: "PinkChicken";
    text-align: center;
    font-size: 26px;
    animation: fadeIn 5s;
    padding: 0px 27% 0px 27%;
}

.first {
    text-align: center;
    padding-bottom: 50px;
}

.animals-pics {
    text-align: center;
    animation: fadeInLeft 8s;
}

#demo {
    font-family: "PinkChicken";
    text-align: center;
    color: #fff;
    font-size: 26px;
}

.col-md-4 h3 {
    font-family: "PinkChicken";
    text-align: center;
    color: #fff;
    font-size: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}