* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "PinkChicken";
    src: url(/fonts/PinkChicken-Regular.ttf);
}

.main-section {
    background-image: url(/images/background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 85%;
    background-color: #ffffff;
    height: 800px;
}

.first h1 {
    color: #223462;
    font-family: "PinkChicken";
    text-align: center;
    font-size: 75px;
    animation: fadeIn 3s;
}

.first p {
    color: #223462;
    font-family: "PinkChicken";
    text-align: center;
    font-size: 26px;
    animation: fadeIn 5s;
    padding: 0px 100px 0px 100px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}